.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: $branco;
    height: 50px;
    border-bottom: 1px solid lighten($cor3, 20);
    z-index: 10;
    ::selection {
        background: none;
        color: $branco;
        text-shadow: none;
    }
}