.banner{
    &Container{
        height: auto;
        background-color: $cor1;
        video{
            height: 100%;
            width: 100vw;
            margin: 0;
            padding: 0;
        }
    }
    &Portfolio{
        position: relative;
        min-height: 350px;
        padding-top: 7vh;
        padding-bottom: 4vh;
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        align-items: flex-start;
        align-items: flex-start!important;
        &:after{
            content: " ";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            top: 0;
            left: 0;
        }
        &Info{
            position: relative;
            width: 100%;
            z-index: 5;
            p{
                font-weight: $medium;
                text-transform: uppercase;
            }
        }
        .portfolioCover{
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            width: 100vw;
        }
    }
}

/* Medium and up */
@media screen and (min-width: 40em) {
    .banner{
        &Container{
            height: calc(100% - 50px);
            video{
                height: 100%;
                width: 100%;
                margin: 0;
                padding: 0;
            }
        }
        &Portfolio{
            &:after{
                content: " ";
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0);
                top: 0;
                left: 0;
                // z-index: -1;
            }
        }
    }
}

/* Large and up */
@media screen and (min-width: 64em) {
    .banner{
        &Container{
            height: calc(100vh - 50px);
            background-color: $cor1;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            video{
                position: absolute;
                top: 50%;
                left: 50%;
                min-width: 100%;
                min-height: 100%;
                width: auto;
                height: auto;
                z-index: 1;
                transform: translateX(-50%) translateY(-50%);
            }
        }
    }
}
