section, footer{
    overflow: hidden;
    transition: 0.3s background-color ease-in-out;
    width: 100vw;
    &.space-section{
        padding-top: 7vh;
        padding-bottom: 7vh;
    }
}
.bodyContainer{
    background: $cor2;
    min-height: 50vh;
    margin-top: 50px;
}

.title-big {
    font-weight: $bold;
    font-size: 38px;
    line-height: 1;
}

// QUEM SOMOS
.quemSomos{
    h5{
        font-weight: $light;
        font-size: 1.5rem;
    }
}

.quemSomosLink{
    &Container{
        width: 100vw;
        float: left;
        position: relative;
        overflow: hidden;
        .inner{
            padding: 2vw;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            .project-title{
                font-size: 1.7rem;
            }
        }
        .link{
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        &:hover{
            .quemSomosLink-foto{
                transform: scale(1);
                &::after {
                    opacity: 0;
                    -webkit-transform: translate3d(0, -50px, 0);
                    transform: translate3d(0, -50px, 0);
                }
            }
        }
    }
    &-foto{
        width: 100vw;
        height: 100vw;
        position: relative;
        left: 0;
        top: 0;
        background-size: cover;
        background-position: center top;
        backface-visibility: hidden;
        width: calc(100% + 50px);
        transition: opacity .4s, transform .4s;
        transform: translate3d(-30px, 0, 0);
        &::after {
            content: '';
            position: absolute;
            z-index: 1;
            left: 0;
            width: 100%;
            height: 100%;
            top: 0;
            background: linear-gradient(to bottom, rgba(51, 51, 51, 0.5) 0, rgba(51, 51, 51, 0) 100%);
            transition: opacity .35s,transform .35s;
            opacity: 1;
        }
    }
}

.boxTitulo{
    border-bottom: 1px solid lighten($cor3, 30);
}
.breadcrumbsContainer{
    .breadcrumbs{
        margin: 0;
        li{
            color: $cor1;
            font-weight: $bold;
            &:not(:last-child)::after{
                color: $cor1;
                content:"|";
            }
        }
        a, .disabled{
            color: $cor1;
            font-weight: $normal;
        }
    }
}
.bg-dark{
    .breadcrumbsContainer{
        .breadcrumbs{
            margin: 0;
            color: $cor2;
            li{
                color: $cor2;
                &:not(:last-child)::after{
                    color: $cor2;
                }
            }
            a, .disabled{
                color: $cor2;
                font-weight: $normal;
            }
        }
    }
}

.contato{
    &FormBox{
        padding-top: 7vh;
        padding-bottom: 7vh;
    }
    &Tel, &Email, &Local{
        padding: 3vh 0;
        display: flex;
        align-items: center;
        p{
            margin: 0;
            line-height: 1.3rem;
        }
        &:before{
            display: none;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f3cd";
            width: 60px;
        }
        a, strong{
            color: $cor2;
        }
        svg{
            font-size: 2.5rem;
            margin-right: 1.2rem;
            color: $amarelo;
        }
    }
    &Email{
        &:before{
            content: "\f2b6";
            font-weight: 400;
        }
        svg{
            font-size: 2rem;
            margin-right: 1rem;
            margin-left: -0.3rem;
            color: $amarelo;
        }
    }
    &Local{
        &:before{
            content: "\f3c5";
            font-weight: 900;
        }
        svg{
            font-size: 2rem;
            margin-right: 1.3rem;
            color: $amarelo;
        }
    }
}
.tagsBox{
    .label{
        background: $amarelo;
        color: $cor1;
        font-weight: $bold;
        margin-right: 4px;
        margin-bottom: 2px;
        text-transform: uppercase;
        cursor: pointer;
    }
}
.bg-light{
    .label{
        background: $cor6;
        color: $cor3;
    }
}

/* Medium and up */
@media screen and (min-width: 40em) {
    .title-big {
        font-weight: $bold;
        font-size: 44px;
        line-height: 1;
    }

    .quemSomosLink{
        &Container{
            width: 33.33vw;
        }
        &-foto{
            height: 33.33vw;
        }
    }
}

/* Large and up */
@media screen and (min-width: 64em) {
    section, footer{
        &.space-section{
            padding-top: 10vh;
            padding-bottom: 10vh;
        }
    }
    .title-big {
        font-weight: $bold;
        font-size: 54px;
        line-height: 1;
    }
    .contato{
        &Local{
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            svg{
                font-size: 2.4rem;
                margin-right: 0;
                margin-bottom: 1.2rem;
                color: $amarelo;
            }
        }
    }
    .quemSomosLink{
        &Container{
            width: 33.33vw;
            &:nth-child(1){
                width: 50vw;
                height: 50vw;
                .quemSomosLink-foto{
                    height: 50vw;
                    width: calc(100% + 50px);
                }
            }
            &:nth-child(2), &:nth-child(3){
                width: 25vw;
                .quemSomosLink-foto{
                    height: 25vw;
                    width: calc(100% + 50px);
                }
            }
            &:nth-child(4){
                width: 50vw;
                height: 25vw;
                .quemSomosLink-foto{
                    height: 25vw;
                    width: calc(100% + 50px);
                }
            }
        }
    }
}