.boxPaginacao{
    .post{
        &Pagina{
            float: left;
            width: 50%;
            small{
                font-weight: $normal;
            }
        }
        &Prev{
            float: left;
            text-align: left;
        }
        &Next{
            float: right;
            text-align: right;
        }
    }
}


.pagination-area{
    .pagination{
        li{
            a{
                color: $cor1;
                font-weight: bold;
                font-weight: $normal;
                &:hover{
                    background: $cor6;
                    color: $cor2;
                }
            }
            &.current{
                background: $cor6;
                color: $cor2;
            }
        }
        .disabled{
            color: $cor5;
        }
    }
}