footer{
    &.footer{
        background: $cor6;
        color: $cor2;
        a{
            color: $cor2;
        }
    }
}
.mapa{
    width: 100vw;
    height: 300px;
    iframe{
        width: 100%;
        height: 300px;
    }
}
.copy{
    background: $preto;
    padding: 0.9rem 0;
    p{
        margin: 0;
    }
}

ul.menu-parceiros {
    list-style-type: none;
    display: flex;
    margin: 0;
    li {
        margin-left: 1.4rem;
        &.sinapro-pr a {
            width: 67px;
            height: 30px;
            display: block;
            background: url(../img/logo-sinapro.png) no-repeat 0 top;
            text-indent: -9999px;
            cursor: pointer;
            background-size: cover;
        }
        &.cenp a {
            width: 80px;
            height: 30px;
            display: block;
            background: url(../img/logo-cenp.png) no-repeat 0 top;
            text-indent: -9999px;
            cursor: pointer;
            background-size: cover;
        }
    }
}