doctype
html(class="no-js", lang="pt-BR", dir="ltr")

head
include includes/head
//css

body.body
    .bodyContainer
        //header
        include includes/header
        //header

        //main
        main.main
            //- include includes/banner-home

            //- - var titleBox = "bg-cor3"
            //- - var pageTitle = "Quem Somos"

            //- include includes/box-titulo
            //- include includes/fazemos-home

            //- - var titleBox = "bg-cor3"
            //- - var pageTitle = "Portfólio"

            //- include includes/box-titulo
            //- include includes/portfolio-home

            - var titleBox = "bg-cor1 bg-dark"
            - var pageTitle = "Clientes"

            include includes/box-titulo

            - var titleBox = "bg-cor3 bg-light"
            include includes/clientes-home

            //- - var titleBox = "bg-cor1 bg-dark"
            //- - var pageTitle = "Quem Somos"

            //- include includes/box-titulo
            //- include includes/content-quem-somos

            //- include includes/posts-home
            - var titleBox = "bg-cor9 bg-dark"
            include includes/banner-info

            //- include includes/case-objetivo
            //- include includes/case-descricao

            //- - var titleBox = "bg-cor1 bg-dark"
            //- - var pageTitle = "Contato"

            //- include includes/box-titulo
            //- include includes/content-contato

            include includes/social-media
            include includes/tags
        //main

        //footer
        include includes/footer
        //footer

    //scripts
    include includes/foot
    //scripts
