doctype
html(class="no-js", lang="pt-BR", dir="ltr")

head
include includes/head
//css

body.body
    .bodyContainer
        //header
        include includes/header
        //header

        //main
        main.main
            include includes/banner-home
            include includes/box-titulo
            //- include includes/portfolio-home
            include includes/quem-somos-home
            include includes/clientes-home
            include includes/posts-home
            include includes/case-objetivo
            include includes/case-descricao
        //main

        //footer
        include includes/footer
        //footer

    //scripts
    include includes/foot
    //scripts
