doctype
html(class="no-js", lang="pt-BR", dir="ltr")

head
include includes/head
//css

body.body
    .bodyContainer
        //header
        include includes/header
        //header

        //main
        main.main
            - var titleBox = "bg-cor1 bg-dark"
            - var pageTitle = "Saleri"

            include includes/banner-portfolio

            include includes/content-portfolio-single

            - var titleBox = "bg-cor3 bg-light"
            include includes/box-paginacao

            - var titleBox = "bg-cor1 bg-dark"
            include includes/banner-info

            include includes/social-media
            include includes/tags
        //main

        //footer
        include includes/footer
        //footer

    //scripts
    include includes/foot
    //scripts
