section(class="bannerContainer bannerPortfolio #{titleBox}", style="background-image: url('assets/img/portfolio/fnx_site/00-capa.jpg')")
    //- div(class="portfolioCover", style="background-image: url('https://www.dexanet.com/wp-content/uploads/saleri.jpg')")
    .bannerPortfolioInfo
        .grid-container.fluid
            .grid-x.grid-margin-x.grid-padding-x
                .cell.small-12.medium-10.medium-offset-1
                    include breadcrumb
                    h1.title-big #{pageTitle}
                    br
                    p Wordpress #[br] Direção de Arte #[br] Experiencia do usuário #[br] Redação de texto #[br] Wordpress #[br] Direção de Arte #[br] Experiencia do usuário #[br] Redação de texto