section.bannerContainer
    //- video(src="assets/video/giocoliere_3secLoop.mp4", autoplay, loop, poster="assets/video/giocoliere.jpg")
    video(src="http://blackflag.com.br/video/apresentacao-black-flag.mp4", muted, autoplay, loop, poster="assets/video/giocoliere.jpg")
