section(class="space-section wow slideInUp #{titleBox}")
    .grid-container.fluid
        .grid-x.grid-margin-x.align-middle
            .cell.small-12.medium-10.medium-offset-1
                .grid-container.full
                    .grid-x.grid-margin-x.grid-padding-x.align-middle.text-center
                        .cell.small-12
                            h1.title-big Quer vender seu produto online#[span.amarelo ? ]
                            a(href="contato.html", class="button wide uppercase") Solicite um orçamento