section.space-section.blogList.bg-light
    .grid-container.fluid
        .grid-x
            .cell.small-12.medium-10.medium-offset-1
                .grid-container.full
                    .grid-x.grid-margin-x
                        .cell.small-12.medium-7.large-8
                            article.noticia
                                .noticiaBox
                                    header.noticiaBox-header
                                        small
                                            .entry-category #[a(href="blog.html") Publicidade] | #[a(href="blog.html") Comunicação]
                                        h2 #[a(href="single-blog.html", class="amarelo") Campanhas de final de ano – Por que são importantes?]
                                        small.uppercase
                                            span.posted-on 06 de Dezembro

                                    a(href="single-blog.html")
                                            img(src="https://i0.wp.com/blackflag.com.br/wp-content/uploads/2018/12/Blog_Natal.jpg", alt="")

                                    .noticiaBox-body
                                        p A temporada de festas já chegou e você deve estar com a campanha de final de ano preparada, certo? Ainda não? Então você não pode perder nem mais um minuto, pois já estamos nos 47 do segundo tempo!

                                        p Com a chegada das férias, viagens, natal e ano novo, muitos se preparam para as compras durante este período e as empresas em geral dependem muito desta época. Por isso, se você ainda não preparou as últimas campanhas do ano, confira em nosso post algumas dicas que podem te ajudar.
                                        a(href="single-blog.html", class="small leiaMais") #[i.fas.fa-external-link-alt] Leia Mais

                            article.noticia
                                .noticiaBox
                                    header.noticiaBox-header
                                        small
                                            .entry-category #[a(href="blog.html") Publicidade] | #[a(href="blog.html") Comunicação]
                                        h2 #[a(href="single-blog.html", class="amarelo") A importância da identidade visual para sua empresa]
                                        small.uppercase
                                            span.posted-on 07 de Novembro

                                    a(href="single-blog.html")
                                            img(src="https://i0.wp.com/blackflag.com.br/wp-content/uploads/2018/11/blog-1.jpg", alt="")

                                    .noticiaBox-body
                                        p A temporada de festas já chegou e você deve estar com a campanha de final de ano preparada, certo? Ainda não? Então você não pode perder nem mais um minuto, pois já estamos nos 47 do segundo tempo!

                                        p Com a chegada das férias, viagens, natal e ano novo, muitos se preparam para as compras durante este período e as empresas em geral dependem muito desta época. Por isso, se você ainda não preparou as últimas campanhas do ano, confira em nosso post algumas dicas que podem te ajudar.
                                        a(href="single-blog.html", class="small leiaMais") #[i.fas.fa-external-link-alt] Leia Mais

                            article.noticia
                                .noticiaBox
                                    header.noticiaBox-header
                                        small
                                            .entry-category #[a(href="blog.html") Publicidade] | #[a(href="blog.html") Comunicação]
                                        h2 #[a(href="single-blog.html", class="amarelo") Por que sua empresa precisa de um site]
                                        small.uppercase
                                            span.posted-on 28 de Setembro

                                    a(href="single-blog.html")
                                            img(src="https://i0.wp.com/blackflag.com.br/wp-content/uploads/2018/09/criacao-de-site.jpg", alt="")

                                    .noticiaBox-body
                                        p A temporada de festas já chegou e você deve estar com a campanha de final de ano preparada, certo? Ainda não? Então você não pode perder nem mais um minuto, pois já estamos nos 47 do segundo tempo!

                                        p Com a chegada das férias, viagens, natal e ano novo, muitos se preparam para as compras durante este período e as empresas em geral dependem muito desta época. Por isso, se você ainda não preparou as últimas campanhas do ano, confira em nosso post algumas dicas que podem te ajudar.
                                        a(href="single-blog.html", class="small leiaMais") #[i.fas.fa-external-link-alt] Leia Mais

                            article.noticia
                                .noticiaBox
                                    header.noticiaBox-header
                                        small
                                            .entry-category #[a(href="blog.html") Publicidade] | #[a(href="blog.html") Comunicação]
                                        h2 #[a(href="single-blog.html", class="amarelo") Anúncio Carrossel no Instagram Stories]
                                        small.uppercase
                                            span.posted-on 15 de Agosto

                                    a(href="single-blog.html")
                                            img(src="https://i0.wp.com/blackflag.com.br/wp-content/uploads/2018/08/instagram.jpg", alt="")

                                    .noticiaBox-body
                                        p A temporada de festas já chegou e você deve estar com a campanha de final de ano preparada, certo? Ainda não? Então você não pode perder nem mais um minuto, pois já estamos nos 47 do segundo tempo!

                                        p Com a chegada das férias, viagens, natal e ano novo, muitos se preparam para as compras durante este período e as empresas em geral dependem muito desta época. Por isso, se você ainda não preparou as últimas campanhas do ano, confira em nosso post algumas dicas que podem te ajudar.
                                        a(href="single-blog.html", class="small leiaMais") #[i.fas.fa-external-link-alt] Leia Mais

                            article.noticia
                                .noticiaBox
                                    header.noticiaBox-header
                                        small
                                            .entry-category #[a(href="blog.html") Publicidade] | #[a(href="blog.html") Comunicação]
                                        h2 #[a(href="single-blog.html", class="amarelo") Instagram Stories – Como usar a seu favor]
                                        small.uppercase
                                            span.posted-on 05 de Julho

                                    a(href="single-blog.html")
                                            img(src="https://i0.wp.com/blackflag.com.br/wp-content/uploads/2018/07/blog.jpg", alt="")

                                    .noticiaBox-body
                                        p A temporada de festas já chegou e você deve estar com a campanha de final de ano preparada, certo? Ainda não? Então você não pode perder nem mais um minuto, pois já estamos nos 47 do segundo tempo!

                                        p Com a chegada das férias, viagens, natal e ano novo, muitos se preparam para as compras durante este período e as empresas em geral dependem muito desta época. Por isso, se você ainda não preparou as últimas campanhas do ano, confira em nosso post algumas dicas que podem te ajudar.
                                        a(href="single-blog.html", class="small leiaMais") #[i.fas.fa-external-link-alt] Leia Mais

                            article.noticia
                                .noticiaBox
                                    header.noticiaBox-header
                                        small
                                            .entry-category #[a(href="blog.html") Publicidade] | #[a(href="blog.html") Comunicação]
                                        h2 #[a(href="single-blog.html", class="amarelo") Rede Social – Por que é importante estar presente?]
                                        small.uppercase
                                            span.posted-on 08 de Março

                                    a(href="single-blog.html")
                                            img(src="https://i0.wp.com/blackflag.com.br/wp-content/uploads/2018/03/social-media.jpg", alt="")

                                    .noticiaBox-body
                                        p A temporada de festas já chegou e você deve estar com a campanha de final de ano preparada, certo? Ainda não? Então você não pode perder nem mais um minuto, pois já estamos nos 47 do segundo tempo!

                                        p Com a chegada das férias, viagens, natal e ano novo, muitos se preparam para as compras durante este período e as empresas em geral dependem muito desta época. Por isso, se você ainda não preparou as últimas campanhas do ano, confira em nosso post algumas dicas que podem te ajudar.
                                        a(href="single-blog.html", class="small leiaMais") #[i.fas.fa-external-link-alt] Leia Mais

                            nav.pagination-area
                                ul.pagination.text-center
                                    li.pagination-previous.disabled Anterior
                                    li.current 1
                                    li #[a(href="blog.html") 2]
                                    li #[a(href="blog.html") 3]
                                    li #[a(href="blog.html") 4]
                                    li.ellipsis
                                    li #[a(href="blog.html") 13]
                                    li #[a(href="blog.html") 14]
                                    li.pagination-next #[a(href="blog.html") Próximo]


                        .cell.small-12.medium-5.large-4
                            .widget-area
                                aside.widget-sidebar
                                    form(action="", class="search-form")
                                        .input-group
                                            input(type="text", placeholder="Buscar...", class="busca-campo-top")
                                            .input-group-button
                                                button.button.submit-button #[i.fas.fa-search]

                                aside.widget-sidebar
                                    h4 Posts Recentes
                                    ul
                                        li
                                            a(href="single-blog.html") Campanhas de final de ano – Por que são importantes?
                                        li
                                            a(href="single-blog.html") A importância da identidade visual para sua empresa
                                        li
                                            a(href="single-blog.html") Por que sua empresa precisa de um site
                                        li
                                            a(href="single-blog.html") Anúncio Carrossel no Instagram Stories
                                        li
                                            a(href="single-blog.html") Instagram Stories – Como usar a seu favor

                                aside.widget-sidebar
                                    h4 Arquivos
                                    ul
                                        li
                                            a(href="blog.html") Dezembro 2018
                                        li
                                            a(href="blog.html") Novembro 2018
                                        li
                                            a(href="blog.html") Outubro 2018
                                        li
                                            a(href="blog.html") Setembro 2018
                                        li
                                            a(href="blog.html") Agosto 2018

                                aside.widget-sidebar
                                    h4 Categorias
                                    ul
                                        li
                                            a(href="blog.html") Comunicação
                                        li
                                            a(href="blog.html") Design
                                        li
                                            a(href="blog.html") Publicidade

