section(class="space-section boxTitulo #{titleBox}")
    .grid-container.fluid
        .grid-x.grid-margin-x.align-middle
            .cell.small-12.medium-10.medium-offset-1.wow.slideInUp
                include breadcrumb
                h1.title-big #{pageTitle}#[span.amarelo . ]