section(class="space-section boxPaginacao #{titleBox}")
    .grid-container.fluid
        .grid-x.grid-margin-x.align-middle
            .cell.small-12.medium-10.medium-offset-1
                .postPagina.postPrev
                    a(href="")
                        small.uppercase Anterior
                        h2 Post Antigo

                .postPagina.postNext
                    a(href="")
                        small.uppercase Próximo
                        h2 Post Novo