section.space-section.caseDescricao
    .grid-container.fluid
        .grid-x.grid-margin-x.align-middle
            .cell.small-12.medium-10.medium-offset-1.wow.slideInUp
                .grid-container.full
                    .grid-x.grid-margin-x.grid-padding-x
                        .cell.small-12.medium-6.wow.slideInUp
                            h1.title-big Neque porro quisquam est qui dolorem ipsum quia dolor sit amet #[span.amarelo . ]
                            br
                            .grid-container
                                .grid-x
                                    .cell.small-6
                                        h3 Tecnologia
                                        p WordPress

                                    .cell.small-6
                                        h3 Criativo
                                        p Direção de Arte #[br] Experiencia do usuário #[br] Redação de texto

                        .cell.small-12.medium-6.wow.slideInUp
                            h2 Neque porro quisquam est qui dolorem ipsum quia dolor sit amet. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                            br
                            br
                            p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.