section.space-section.caseObjetivo
    .grid-container.fluid
        .grid-x.grid-margin-x.align-middle
            .cell.small-12.medium-10.medium-offset-1.wow.slideInUp
                .grid-container.full
                    .grid-x.grid-margin-x.grid-padding-x
                        .cell.small-12.medium-4.wow.slideInTop
                                h2.title-big Desafio#[span.amarelo . ]
                                br
                                p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore.

                        .cell.small-12.medium-4.wow.slideInTop
                                h2.title-big Estratégia#[span.amarelo . ]
                                br
                                p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.

                        .cell.small-12.medium-4.wow.slideInTop
                                h2.title-big Resultado#[span.amarelo . ]
                                br
                                p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Repudiandae sint et molestiae non recusandae.