section.space-section.caseObjetivo
    .grid-container.fluid
        .grid-x.grid-margin-x.align-middle
            .cell.small-12.medium-10.medium-offset-1.wow.slideInUp
                .grid-container.full
                    .grid-x.grid-margin-x.grid-padding-x
                        .cell.small-12.medium-4.wow.slideInTop
                                h2.title-big Desafio#[span.amarelo . ]
                                br
                                p Realizzare una vetrina tanto affascinante quanto funzionale per raccontare l’arte e l’anima delle opere e dei complementi d’arredo firmati Habito.

                        .cell.small-12.medium-4.wow.slideInTop
                                h2.title-big Estratégia#[span.amarelo . ]
                                br
                                p Immaginare il sito internet come un libro da sfogliare con un duplice indice: uno, emozionale e dedicato alle origini, alla materia e alla visione di Giuseppe Rivadossi, l’altro, più istituzionale, per mettere in mostra le opere e tutte le loro funzioni.

                        .cell.small-12.medium-4.wow.slideInTop
                                h2.title-big Resultado#[span.amarelo . ]
                                br
                                p Grazie a un mix strategico di immagini, disegni e parole siamo riusciti a realizzare un sito vetrina capace di emozionare il visitatore, ma anche di renderlo partecipe del grande lavoro artigianale che sta alla base delle opere Rivadossi.