section.space-section.clientesHome.bg-branco
    .grid-container.fluid
        .grid-x.grid-margin-x.align-middle.text-center
            .cell.small-12.medium-10.medium-offset-1.wow.slideInUp
                h1.title-big Conheça alguns clientes já atendidos#[span.cor7 ... ]
            .cell.small-12
                &nbsp;
            .cell.small-12.medium-10.medium-offset-1.wow.slideInUp
                p Li abbiamo colpiti con la strategia, stupiti con la creatività, incantati con le parole e posizionati con il giusto metodo.
            .cell.small-12.medium-10.medium-offset-1.wow.slideInUp
                .grid-container.full
                    .grid-x.small-up-2.medium-up-3.large-up-5.grid-x.grid-margin-x
                        .cell.wow.slideInUp
                            img(src="assets/img/clientes/1.png", alt="")
                        .cell.wow.slideInUp
                            img(src="assets/img/clientes/2.png", alt="")
                        .cell.wow.slideInUp
                            img(src="assets/img/clientes/3.png", alt="")
                        .cell.wow.slideInUp
                            img(src="assets/img/clientes/4.png", alt="")
                        .cell.wow.slideInUp
                            img(src="assets/img/clientes/5.png", alt="")
                        .cell.wow.slideInUp
                            img(src="assets/img/clientes/6.png", alt="")
                        .cell.wow.slideInUp
                            img(src="assets/img/clientes/7.png", alt="")
                        .cell.wow.slideInUp
                            img(src="assets/img/clientes/8.png", alt="")
                        .cell.wow.slideInUp
                            img(src="assets/img/clientes/9.png", alt="")
                        .cell.wow.slideInUp
                            img(src="assets/img/clientes/10.png", alt="")
                        .cell.wow.slideInUp
                            img(src="assets/img/clientes/11.png", alt="")
                        .cell.wow.slideInUp
                            img(src="assets/img/clientes/12.png", alt="")
                        .cell.wow.slideInUp
                            img(src="assets/img/clientes/13.png", alt="")
                        .cell.wow.slideInUp
                            img(src="assets/img/clientes/14.png", alt="")
                        .cell.wow.slideInUp
                            img(src="assets/img/clientes/15.png", alt="")
                        .cell.wow.slideInUp
                            img(src="assets/img/clientes/16.png", alt="")
                        .cell.wow.slideInUp
                            img(src="assets/img/clientes/17.png", alt="")
                        .cell.wow.slideInUp
                            img(src="assets/img/clientes/18.png", alt="")
                        .cell.wow.slideInUp
                            img(src="assets/img/clientes/19.png", alt="")
                        .cell.wow.slideInUp
                            img(src="assets/img/clientes/20.png", alt="")