section.contato
    .grid-container.full
        .grid-x.grid-margin-x.align-middle
            .cell.small-12.medium-6
                img(src="https://www.dexanet.com/wp-content/uploads/busta.jpg", alt="")
            .cell.small-12.medium-6
                .grid-container.fluid
                    .grid-x.grid-margin-x.grid-padding-x
                        .cell.small-12.medium-1.wow.slideInUp


                        .cell.small-12.medium-10.wow.slideInUp
                            h1.title-big Fale Conosco #[span.amarelo . ]
                            br
                            br
                            p Nada melhor que uma boa conversa para esclarecer dúvidas e questões pendentes! Ligue pra gente, será um prazer falar com você!

                            form(action="")
                                .grid-container.full
                                    .grid-x.grid-padding-x
                                        .cell.small-12.medium-6
                                            label Nome
                                                input(type="text")
                                        .cell.small-12.medium-6
                                            label Telefone
                                                input(type="tel")
                                        .cell.small-12
                                            label Email
                                                input(type="email")
                                        .cell.small-12
                                            label Mensagem
                                                textarea(name="", cols="30", rows="10")
                                        .cell.small-12
                                            input(type="submit", class="button buttonWide uppercase")

section.space-section.caseDescricao
    .grid-container.fluid
        .grid-x.grid-margin-x.align-middle
            .cell.small-12.medium-10.medium-offset-1.wow.slideInUp
                .grid-container.full
                    .grid-x.grid-margin-x.grid-padding-x.align-middle
                        .cell.small-12.medium-6.large-4.wow.slideInUp
                            h1.title-big Onde #[br] Estamos#[span.amarelo . ]

                        .cell.small-12.medium-6.large-8.wow.slideInUp
                            .grid-container
                                .grid-x.grid-margin-x.grid-padding-x.align-middle
                                    .cell.small-6.text-center
                                        i.fas.fa-map-marker-alt.fa-2x
                                        h5.cor5 Curitiba
                                        p  Av Cândido Hartmann, 528#[br]sala 56 - Curitiba – PR

                                    .cell.small-6
                                        .contatoTel
                                            p Seg à Sex 9h às 18h#[br] #[strong +55 41 3151-2607]
                                        .contatoEmail
                                            p Email#[br] #[a(href="mailto:falecom@blackflag.com.br") #[strong falecom@blackflag.com.br]]
