section.portfolioHome.bg-branco
    .portfolioContainer.wow.slideInUp
        .square.portfolio-cover.bg-dark
            div(class="portfolio-foto" style="background-image: url('https://www.dexanet.com/wp-content/uploads/saleri-thumb.jpg')", alt="Progetto Saleri")
            .inner
                .info
                    h2.project-title Saleri
            a(class="link" href="single-portfolio.html")

    .portfolioContainer.wow.slideInUp
        .square.portfolio-cover.bg-dark
            div(class="portfolio-foto" style="background-image: url('https://www.dexanet.com/wp-content/uploads/copertina.jpg')", alt="Progetto Saleri")
            .inner
                .info
                    h2.project-title Consorzio Brescia Centro
            a(class="link" href="single-portfolio.html")

    .portfolioContainer.wow.slideInUp
        .square.portfolio-cover
            div(class="portfolio-foto" style="background-image: url('https://www.dexanet.com/wp-content/uploads/copertina_rehabilita-1.jpg')", alt="Progetto Saleri")
            .inner
                .info
                    h2.project-title Centro Rehabilita
            a(class="link" href="single-portfolio.html")

    .portfolioContainer.wow.slideInUp
        .square.portfolio-cover.bg-dark
            div(class="portfolio-foto" style="background-image: url('https://www.dexanet.com/wp-content/uploads/saleri-thumb.jpg')", alt="Progetto Saleri")
            .inner
                .info
                    h2.project-title Saleri
            a(class="link" href="single-portfolio.html")

    .portfolioContainer.wow.slideInUp
        .square.portfolio-cover.bg-dark
            div(class="portfolio-foto" style="background-image: url('https://www.dexanet.com/wp-content/uploads/copertina.jpg')", alt="Progetto Saleri")
            .inner
                .info
                    h2.project-title Consorzio Brescia Centro
            a(class="link" href="single-portfolio.html")

    .portfolioContainer.wow.slideInUp
        .square.portfolio-cover
            div(class="portfolio-foto" style="background-image: url('https://www.dexanet.com/wp-content/uploads/copertina_rehabilita-1.jpg')", alt="Progetto Saleri")
            .inner
                .info
                    h2.project-title Centro Rehabilita
            a(class="link" href="single-portfolio.html")

    .portfolioContainer.wow.slideInUp
        .square.portfolio-cover.bg-dark
            div(class="portfolio-foto" style="background-image: url('https://www.dexanet.com/wp-content/uploads/saleri-thumb.jpg')", alt="Progetto Saleri")
            .inner
                .info
                    h2.project-title Saleri
            a(class="link" href="single-portfolio.html")

    .portfolioContainer.wow.slideInUp
        .square.portfolio-cover.bg-dark
            div(class="portfolio-foto" style="background-image: url('https://www.dexanet.com/wp-content/uploads/copertina.jpg')", alt="Progetto Saleri")
            .inner
                .info
                    h2.project-title Consorzio Brescia Centro
            a(class="link" href="single-portfolio.html")

    .portfolioContainer.wow.slideInUp
        .square.portfolio-cover
            div(class="portfolio-foto" style="background-image: url('https://www.dexanet.com/wp-content/uploads/copertina_rehabilita-1.jpg')", alt="Progetto Saleri")
            .inner
                .info
                    h2.project-title Centro Rehabilita
            a(class="link" href="single-portfolio.html")

    .portfolioContainer.wow.slideInUp
        .square.portfolio-cover.bg-dark
            div(class="portfolio-foto" style="background-image: url('https://www.dexanet.com/wp-content/uploads/saleri-thumb.jpg')", alt="Progetto Saleri")
            .inner
                .info
                    h2.project-title Saleri
            a(class="link" href="single-portfolio.html")

    .portfolioContainer.wow.slideInUp
        .square.portfolio-cover.bg-dark
            div(class="portfolio-foto" style="background-image: url('https://www.dexanet.com/wp-content/uploads/copertina.jpg')", alt="Progetto Saleri")
            .inner
                .info
                    h2.project-title Consorzio Brescia Centro
            a(class="link" href="single-portfolio.html")

    .portfolioContainer.wow.slideInUp
        .square.portfolio-cover
            div(class="portfolio-foto" style="background-image: url('https://www.dexanet.com/wp-content/uploads/copertina_rehabilita-1.jpg')", alt="Progetto Saleri")
            .inner
                .info
                    h2.project-title Centro Rehabilita
            a(class="link" href="single-portfolio.html")

//- a(href="", class="homePortfolioLink uppercase align-center button") Veja todos os nossos trabalhos
