section.portfolioPage
    include case-descricao
    .wow.slideInUp
        img(src="assets/img/portfolio/fnx_site/01.jpg", alt="")
    include case-objetivo
    .wow.slideInUp
        img(src="assets/img/portfolio/fnx_site/02.jpg", alt="")
    .wow.slideInUp
        img(src="assets/img/portfolio/fnx_site/03-slide1.jpg", alt="")
    .wow.slideInUp
        img(src="assets/img/portfolio/fnx_site/03-slide2.jpg", alt="")
    .wow.slideInUp
        img(src="assets/img/portfolio/fnx_site/03-slide3.jpg", alt="")
    .wow.slideInUp
        img(src="assets/img/portfolio/fnx_site/04.jpg", alt="")


