section
    include case-descricao
    .wow.slideInUp
        img(src="https://www.dexanet.com/wp-content/uploads/1.jpg", alt="")
    include case-objetivo
    .wow.slideInUp
        img(src="https://www.dexanet.com/wp-content/uploads/2.jpg", alt="")
    .wow.slideInUp
        img(src="https://www.dexanet.com/wp-content/uploads/3.jpg", alt="")
    .wow.slideInUp
        img(src="https://www.dexanet.com/wp-content/uploads/4.jpg", alt="")


