section
    include case-descricao
    img(src="https://www.dexanet.com/wp-content/uploads/1.jpg", alt="")
    include case-objetivo
    img(src="https://www.dexanet.com/wp-content/uploads/2.jpg", alt="")
    img(src="https://www.dexanet.com/wp-content/uploads/3.jpg", alt="")
    img(src="https://www.dexanet.com/wp-content/uploads/4.jpg", alt="")


