section.space-section.quemSomos
    .grid-container.fluid
        .grid-x.grid-margin-x.align-middle
            .cell.small-12.medium-10.medium-offset-1.wow.slideInUp
                .grid-container.full
                    .grid-x.grid-margin-x.grid-padding-x.align-middle
                        .cell.small-12.medium-6.wow.slideInUp
                            h1.title-big Comunicação #[br]é o sangue que corre #[br] em nossas veias#[span.amarelo ! ]

                        .cell.small-12.medium-6.wow.slideInUp
                            h5  Há mais de 9 anos no mercado publicitário, a Black Flag Publicidade entende que para fazer comunicação é preciso movimento e interatividade. Nosso objetivo é entender e gerar valor para os seus clientes através de conteúdos relevantes, afinal, sabemos que uma boa comunicação é essencial para bons resultados. #[br] #[br] A Black Flag não quer atender suas expectativas, quer superá-las! E, para isso, soma talento individual com criatividade coletiva, através de uma equipe unida e apaixonada pelo que faz. #[br]Venha nos conhecer e criar novas possibilidades. Juntos!
