section.space-section.fazemos#fazemos.bg-amarelo
    .grid-container.fluid
        .grid-x.grid-margin-x.align-middle
            .cell.small-12.medium-10.medium-offset-1.large-3.large-offset-1.wow.slideInUp
                h1.title-big O que podemos fazer por você#[span.cor2 ?]
                br
                p Design, publicidade e propaganda, mídias digitais, web design, gerenciamento e planejamento de redes sociais, produção de conteúdo, eventos, ativação de marca, embalagem, planejamento de mídia, branding, diagramação de livros e revistas, planejamento de marketing, comunicação corporativa e muito mais…

            .cell.small-12.medium-10.medium-offset-1.large-5.large-offset-2
                ul.uppercase.menu.vertical.menuFazemos
                    li.wow.slideInUp
                        a.design-link(href="portfolio.html")
                            h1 Design
                    li.wow.slideInUp
                        a.editorial-link(href="portfolio.html")
                            h1 editorial
                    li.wow.slideInUp
                        a.publicidade-link(href="portfolio.html")
                            h1 publicidade
                    li.wow.slideInUp
                        a.website-link(href="portfolio.html")
                            h1 website
                    li.wow.slideInUp
                        a.especiais-link(href="portfolio.html")
                            h1 projetos especiais
                    //- li.wow.slideInUp
                    //-     a.social-marketing-link(href="")
                    //-         h1 social media marketing
                    //- li.wow.slideInUp
                    //-     a.web-marketing-link(href="")
                    //-         h1 web marketing