script(src="assets/js/vendor/jquery.js")
script(src="assets/js/vendor/modernizr.js")
script(src="assets/js/vendor/what-input.js")
script(src="assets/js/vendor/foundation.js")
script(src="assets/js/vendor/motion-ui.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
script(data-search-pseudo-elements, defer, src="https://use.fontawesome.com/releases/v5.5.0/js/all.js", crossorigin="anonymous")
script(src="assets/js/vendor/owl.carousel.min.js")
script(src="assets/js/app.js")
