header.header
    .grid-container.fluid
        .grid-x.grid-padding-x.align-middle
            .shrink.cell
                span.navButton.float-left #[i.fas.fa-stream]
            .shrink.cell
                a(href="index.html", class="custom-logo-link")
                    img(src="assets/img/logosite.png", class="custom-logo", alt="")
            .cell.auto
                nav.menuHeader.show-for-large
                    ul.menu.align-right
                        li
                            a(href="portfolio.html") Portfólio
                        li
                            a(href="contato.html") Contato