header.header
    .grid-container.fluid
        .grid-x.grid-padding-x.align-middle
            .shrink.cell
                span.navButton.float-left #[i.fas.fa-stream]
            .shrink.cell
                a(href="", class="custom-logo-link")
                    img(src="assets/img/logosite.png", class="custom-logo", alt="")
            .cell.auto
                nav.menuHeader.show-for-large
                    ul.menu.align-right
                        //- li
                        //-     a(href="index.html") Home
                        //- li
                        //-     a.active(href="quem-somos.html") Quem Somos
                        //- li
                            a(href="o-que-fazemos.html") O que Fazemos
                        li
                            a(href="portfolio.html") Portfólio
                        //- li
                        //-     a(href="blog.html") Blog
                        li
                            a(href="contato.html") Contato