nav
    ul(class="accordion-menu menu vertical off-canvas-menu", data-accordion-menu)
        li
            a(href="quem-somos.html") QUEM SOMOS
        li
            a(href="") NOSSOS SERVIÇOS
            ul.menu.vertical
                li
                    a(href="nossos-servicos.html") Saúde Ocupacional
                li
                    a(href="nossos-servicos.html") Consultoria Administrativa, Contábil e Jurídica
                li
                    a(href="nossos-servicos.html") Clínica da Saúde

        li
            a(href="treinamentos.html") TREINAMENTOS
        li
            a(href="esocial.html") eSOCIAL
        li
            a(href="blog.html") BLOG
        li
            a(href="contato.html") FALE CONOSCO
        li
            a(href="" class="vermelho") #[i.fas.fa-user] ÁREA DO CLIENTE