section.portfolioHome.bg-branco
    .grid-container.full
        .grid-x
            .cell.small-12.medium-6
                .grid-container
                    .grid-x
                        .cell.small-12.medium-6.square.portfolio-cover.bg-dark
                            div(class="portfolio-foto" style="background-image: url('https://www.dexanet.com/wp-content/uploads/saleri-thumb.jpg')", alt="Progetto Saleri")
                                .inner
                                    .info
                                        h2.project-title Saleri
                                        a(class="link" href="https://www.dexanet.com/portfolio-siti-internet/produttore-pompe-acqua-saleri-italo/")
                                    .project-icon
                                        a(href="#") #[i.fas.fa-heart-alt]
                                        a(href="#") #[i.fas.fa-link]

            .cell.small-12.medium-6
                .grid-container
                    .grid-x
                        .cell.small-12.medium-6.square.portfolio-cover.bg-dark
                            div(class="portfolio-foto" style="background-image: url('https://www.dexanet.com/wp-content/uploads/saleri-thumb.jpg')", alt="Progetto Saleri")
                                .inner
                                    .info
                                        h2.project-title Saleri
                                        a(class="link" href="https://www.dexanet.com/portfolio-siti-internet/produttore-pompe-acqua-saleri-italo/")
                                    .project-icon
                                        a(href="#") #[i.fas.fa-heart-alt]
                                        a(href="#") #[i.fas.fa-link]
