section.portfolioHome.bg-branco
    .portfolioContainer
        .portfolio-cover.bg-dark
            div(class="portfolio-foto" style="background-image: url('https://www.dexanet.com/wp-content/uploads/saleri-thumb.jpg')", alt="Progetto Saleri")
            .inner
                .info
                    h2.project-title Saleri
                    p Wordpress - Direção de Arte - Experiencia do usuário - Redação de texto
            a(class="link" href="single-portfolio.html")

    .portfolioContainer
        .portfolio-cover.bg-dark
            div(class="portfolio-foto" style="background-image: url('https://www.dexanet.com/wp-content/uploads/copertina.jpg')", alt="Progetto Saleri")
            .inner
                .info
                    h2.project-title Consorzio Brescia Centro
                    p Direção de Arte - Experiencia do usuário - Redação de texto
            a(class="link" href="single-portfolio.html")

    .portfolioContainer
        .portfolio-cover
            div(class="portfolio-foto" style="background-image: url('https://www.dexanet.com/wp-content/uploads/copertina_rehabilita-1.jpg')", alt="Progetto Saleri")
            .inner
                .info
                    h2.project-title Centro Rehabilita
                    p Direção de Arte - Experiencia do usuário - Redação de texto
            a(class="link" href="single-portfolio.html")

    .portfolioContainer
        .portfolio-cover.bg-dark
            div(class="portfolio-foto" style="background-image: url('https://www.dexanet.com/wp-content/uploads/saleri-thumb.jpg')", alt="Progetto Saleri")
            .inner
                .info
                    h2.project-title Saleri
                    p Wordpress - Direção de Arte - Experiencia do usuário - Redação de texto
            a(class="link" href="single-portfolio.html")

    .portfolioContainer
        .portfolio-cover.bg-dark
            div(class="portfolio-foto" style="background-image: url('https://www.dexanet.com/wp-content/uploads/copertina.jpg')", alt="Progetto Saleri")
            .inner
                .info
                    h2.project-title Consorzio Brescia Centro
                    p Direção de Arte - Experiencia do usuário - Redação de texto
            a(class="link" href="single-portfolio.html")

    .portfolioContainer
        .portfolio-cover
            div(class="portfolio-foto" style="background-image: url('https://www.dexanet.com/wp-content/uploads/copertina_rehabilita-1.jpg')", alt="Progetto Saleri")
            .inner
                .info
                    h2.project-title Centro Rehabilita
                    p Direção de Arte - Experiencia do usuário - Redação de texto
            a(class="link" href="single-portfolio.html")

a(href="portfolio.html", class="homePortfolioLink uppercase align-center button") Veja todos os nossos trabalhos
