section.space-section#blogHome.bg-cor6.bg-dark
    .grid-container.fluid
        .grid-x.grid-margin-x.align-middle
            .cell.small-12.medium-3.medium-offset-1.wow.slideInUp
                h1.title-big Conheça#[br]nosso blog#[span.amarelo . ]
                br
                p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti animi.
                a(href="blog.html", class="button wide small") Blog
            .cell.small-12.medium-5.medium-offset-2
                .owl-carousel.owl-theme.blogHomeSlider.wow.slideInUp
                    .noticia
                        .noticiaBox
                            .noticiaBox-body
                                h4 #[a(href="single-blog.html", class="amarelo") Campanhas de final de ano – Por que são importantes?]
                                p A temporada de festas já chegou e você deve estar com a campanha de final de ano preparada, certo? Ainda não? Então você não pode perder nem mais um minuto, pois já estamos nos 47...
                                a(href="single-blog.html", class="button wide small leiaMais") #[i.fas.fa-external-link-alt] Leia Mais

                    .noticia
                        .noticiaBox
                            .noticiaBox-body
                                h4 #[a(href="single-blog.html", class="amarelo") A importância da identidade visual para sua empresa]
                                p Em meio a tanta concorrência e informação que circula a todo momento nos meios de comunicação, é preciso encontrar um jeito de se destacar e ganhar visibilidade no mercado. Uma das maneiras de fazer isso...
                                a(href="single-blog.html", class="button wide small leiaMais") #[i.fas.fa-external-link-alt] Leia Mais

                    .noticia
                        .noticiaBox
                            .noticiaBox-body
                                h4 #[a(href="single-blog.html", class="amarelo") Por que sua empresa precisa de um site]
                                p Há algum tempo a internet tornou-se uma porta de entrada para o mundo dos negócios. A visibilidade e proximidade que proporciona é muito importante para as empresas, funcionando como uma vitrine para mostrar os seus...
                                a(href="single-blog.html", class="button wide small leiaMais") #[i.fas.fa-external-link-alt] Leia Mais