section.space-section.quemSomos#quemSomos
    .grid-container.fluid
        .grid-x.grid-margin-x.align-middle
            .cell.small-12.medium-3.medium-offset-1.wow.slideInUp
                h1.title-big O que podemos fazer por você#[span.branco ?]
                p Siamo un punto di riferimento nel panorama digitale italiano. Una squadra formata da 30 professionisti in grado di fornirti servizi mirati sempre più specializzati.
                a(href="", class="button small") O que fazemos
            .cell.small-12.medium-5.medium-offset-2
                ul.uppercase.menu.vertical.menuFazemos
                    li.wow.slideInUp
                        a.design-link(href="")
                            h1 Design
                    li.wow.slideInUp
                        a.editorial-link(href="")
                            h1 editorial
                    li.wow.slideInUp
                        a.publicidade-link(href="")
                            h1 publicidade
                    li.wow.slideInUp
                        a.website-link(href="")
                            h1 website
                    li.wow.slideInUp
                        a.especiais-link(href="")
                            h1 projetos especiais
                    //- li.wow.slideInUp
                    //-     a.social-marketing-link(href="")
                    //-         h1 social media marketing
                    //- li.wow.slideInUp
                    //-     a.web-marketing-link(href="")
                    //-         h1 web marketing