section.quemSomosLinkHome.bg-branco
    .quemSomosLinkContainer.wow.slideInUp
        .square.quemSomosLink-cover.bg-dark
            div(class="portfolio-foto show-for-large" style="background-image: url('https://www.dexanet.com/wp-content/uploads/saleri-thumb.jpg')", alt="Progetto Saleri")
            //- .inner
            //-     .info
            //-         h2.project-title Saleri
            //- a(class="link" href="https://www.dexanet.com/portfolio-siti-internet/produttore-pompe-acqua-saleri-italo/")

    .quemSomosLinkContainer.small.wow.slideInUp
        .square2.quemSomosLink-cover.bg-dark
            div(class="portfolio-foto" style="background-image: url('https://thumbs.dreamstime.com/b/d-rendered-background-black-yellow-cubes-d-render-black-yellow-cubes-103911957.jpg')", alt="Progetto Saleri")
            .inner
                .info
                    h2.project-title Entre em Contato
            a(class="link" href="contato.html")

    .quemSomosLinkContainer.small.wow.slideInUp
        .square2.quemSomosLink-cover.bg-dark
            div(class="portfolio-foto" style="background-image: url('https://www.dexanet.com/wp-content/uploads/copertina.jpg')", alt="Progetto Saleri")
            .inner
                .info
                    h2.project-title Veja nosso Blog
            a(class="link" href="https://www.dexanet.com/portfolio-siti-internet/consorzio-brescia-centro/")

    .quemSomosLinkContainer.wow.slideInUp
        .rect.quemSomosLink-cover
            div(class="portfolio-foto" style="background-image: url('https://www.dexanet.com/wp-content/uploads/copertina_rehabilita-1.jpg')", alt="Progetto Saleri")
            .inner
                .info
                    h2.project-title Veja nosso Portfólio
            a(class="link" href="https://www.dexanet.com/portfolio-siti-internet/centro-rehabilita/")

//- a(href="", class="homePortfolioLink uppercase align-center button") Veja todos os nossos trabalhos
