section.servicos
    .grid-container
        .grid-x.grid-margin-x.grid-padding-x
            .cell.small-12
                h3.titulo Nossos Serviços
            .cell.small-12.medium-6.large-4
                .servicoBox
                    .servicoBox-left
                        i.fas.fa-calculator
                    .servicoBox-body
                        h4 Contabilidade Geral
                        p Estamos preparados para atender os mais variados ramos de atividade, com uma contabilidade eficiente e transparente.

            .cell.small-12.medium-6.large-4
                .servicoBox
                    .servicoBox-left
                        i.fas.fa-landmark
                    .servicoBox-body
                        h4 Fiscal
                        p Assessoria completa em todos os procedimentos legais nas mais diferentes situações do dia-a-dia.

            .cell.small-12.medium-6.large-4
                .servicoBox
                    .servicoBox-left
                        i.fas.fa-chart-bar
                    .servicoBox-body
                        h4 Abertura de Empresas
                        p Estamos preparados para abrir e cuidar da sua empresa, dando todo o apoio que sua nova empresa precisa.

            .cell.small-12.medium-6.large-4
                .servicoBox
                    .servicoBox-left
                        i.fas.fa-users
                    .servicoBox-body
                        h4 Recursos Humanos
                        p Fornecemos um constante monitoramento de uma equipe, apta à lhe orientar em todas as questões, com o objetivo de reduzir todo tipo de risco de reclamações trabalhistas que você possa correr.

            .cell.small-12.medium-6.large-4
                .servicoBox
                    .servicoBox-left
                        i.fas.fa-money-bill-wave
                    .servicoBox-body
                        h4 Área Financeira
                        p Nosso objetivo é sensibilizar e informar o empresário sobre a importância de conhecer e utilizar as informações geradas pela contabilidade como ferramenta para controlar e planejar o seu negócio.

            .cell.small-12.medium-6.large-4
                .servicoBox
                    .servicoBox-left
                        i.fas.fa-handshake
                    .servicoBox-body
                        h4 Societário
                        p Abrangendo os controles, processos e recursos humanos, utilizando-se de balancetes para acrescentar o fluxo operacional e o financeiro da sua empresa.