section.space-section.socialMedia.bg-amarelo
    .grid-container.fluid
        .grid-x.grid-margin-x.align-middle.text-center
            .cell.small-12.medium-10.medium-offset-1.wow.slideInUp
                h1.title-big Siga nossas redes sociais
            .cell.small-12
                span &nbsp;
            .cell.small-12.medium-10.medium-offset-1.wow.slideInUp
                ul(class="social-media")
                    li
                        a(href="" class="")
                            i.fab.fa-facebook.fa-3x
                    li
                        a(href="" class="")
                            i.fab.fa-instagram.fa-3x
                    li
                        a(href="" class="")
                            i.fab.fa-linkedin.fa-3x
                    li
                        a(href="" class="")
                            i.fab.fa-behance.fa-3x


