ul(class="social-media")
    li
        a(href="" class="")
            i.fab.fa-facebook
    //- li
    //-     a(href="" class="")
    //-         i.fab.fa-whatsapp
    //- li
    //-     a(href="" class="")
    //-         i.fab.fa-youtube
    //- li
    //-     a(href="" class="")
    //-         i.fab.fa-instagram