section.space-section.bg-light.bg-cor3
    .grid-container.fluid
        .grid-x.grid-margin-x.align-middle
            .cell.small-12.medium-10.medium-offset-1.wow.slideInUp
                .grid-container.full
                    .grid-x.grid-margin-x.grid-padding-x.align-middle
                        .cell.small-12.wow.slideInUp
                            h1.title-big O #[strong ABC] da Black Flag#[span.amarelo . ]
                            br
                        .cell.small-12.wow.slideInUp
                            .tagsBox
                                a(href="", class="label") Email Marketing
                                a(href="", class="label") Programmatic PR
                                a(href="", class="label") Landing Page
                                a(href="", class="label") Backoffice manager
                                a(href="", class="label") Mobile Marketing
                                a(href="", class="label") Analytics
                                a(href="", class="label") Formazione
                                a(href="", class="label") Pubblicità audio
                                a(href="", class="label") Sito Web Istituzionale
                                a(href="", class="label") SEO
                                a(href="", class="label") SEM
                                a(href="", class="label") Social Marketing
                                a(href="", class="label") Sicurezza e Protezione
                                a(href="", class="label") Mobile Marketing
                                a(href="", class="label") Marketing di affiliazione
                                a(href="", class="label") Social management
                                a(href="", class="label") Youtube ads
                                a(href="", class="label") Mobile
                                a(href="", class="label") Facebook ads
                                a(href="", class="label") Content Marketing
                                a(href="", class="label") LinkedIn ADS
                                a(href="", class="label") Hosting
                                a(href="", class="label") rganizzazione Eventi
                                a(href="", class="label") Applicazioni Web
                                a(href="", class="label") Branding Aziendale
                                a(href="", class="label") Siti web per eventi
                                a(href="", class="label") Advertising
                                a(href="", class="label") Sito internet per Eventi
                                a(href="", class="label") LinkedIn ads
                                a(href="", class="label") Google AdWords
                                a(href="", class="label") Social Media Management
                                a(href="", class="label") Eventi
                                a(href="", class="label") Instagram ads
                                a(href="", class="label") Realizzazione Video
                                a(href="", class="label") Sito Web Turismo
                                a(href="", class="label") Sito Internet settore Turistico
                                a(href="", class="label") Display Advertising
                                a(href="", class="label") Applicazioni Web
                                a(href="", class="label") Marketing
                                a(href="", class="label") E-Commerce Moda
                                a(href="", class="label") Wordpress
                                a(href="", class="label") Twitter ads
                                a(href="", class="label") Web Design
                                a(href="", class="label") Content Marketing
                                a(href="", class="label") Ufficio stampa e Digital PR
                                a(href="", class="label") Ecommerce
                                a(href="", class="label") Sito web istituzionale
                                a(href="", class="label") Social Adv
                                a(href="", class="label") Branding
                                a(href="", class="label") Social Media Strategy
                                a(href="", class="label") Spotify ads
                                a(href="", class="label") Strategia


