@font-face {
  font-family: Gtwall;
  src: url(../../assets/fontsGT-Walsheim-Pro-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Gtwall;
  src: url(../../assets/fonts/GT-Walsheim-Pro-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Gtwall;
  src: url(../../assets/fonts/GT-Walsheim-Pro-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Gtwall;
  src: url(../../assets/fonts/GT-Walsheim-Pro-Bold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Gtwall;
  src: url(../../assets/fonts/GT-Walsheim-Pro-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: teste;
  src: url(../../assets/fonts/MORPHEUS.woff);
  font-weight: 700;
}

body,
html {
  overflow-x: hidden;
  background: #FFF;
  color: #1D1D1B;
  font-family: "Gtwall", sans-serif;
  font-weight: 300;
  width: 100vw;
}

/*==========================NOVO=============================*/

/* Medium and up */

.scrollLock {
  overflow: hidden !important;
}

:focus {
  outline: none;
}

::-moz-selection {
  background: #1D1D1B;
  color: #FFF;
  text-shadow: none;
}

::selection {
  background: #1D1D1B;
  color: #FFF;
  text-shadow: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #F9F9F8;
  /*text-shadow: 1px 1px 1px #080707;*/
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #F9F9F8;
  /*text-shadow: 1px 1px 1px #080707;*/
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #F9F9F8;
  /*text-shadow: 1px 1px 1px #080707;*/
}

input::placeholder,
textarea::placeholder {
  color: #F9F9F8;
  /*text-shadow: 1px 1px 1px #080707;*/
}

.uppercase {
  text-transform: uppercase;
}

hr {
  border-bottom: 1px solid white;
  width: 100%;
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
  border-color: white;
  background-color: #FFF;
  color: #828282;
  text-shadow: 1px 1px 1px white;
}

[type='text']:focus,
[type='password']:focus,
[type='date']:focus,
[type='datetime']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='week']:focus,
[type='email']:focus,
[type='number']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='url']:focus,
[type='color']:focus,
textarea:focus {
  border-color: transparent;
  background-color: #FFF;
  -webkit-box-shadow: inset 2px 2px 8px #d9d9d9;
  box-shadow: inset 2px 2px 8px #d9d9d9;
}

p {
  font-weight: 300;
  line-height: 170%;
  font-size: 16px;
  margin-bottom: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gtwall", sans-serif;
  font-weight: 900;
}

.branco {
  color: #FFF;
}

.preto {
  color: #000;
}

.amarelo {
  color: #FFED00;
}

.cor1 {
  color: #1D1D1B;
}

.cor2 {
  color: #F9F9F8;
}

.cor3 {
  color: #F7F7F4;
}

.cor4 {
  color: #A8A8A1;
}

.cor5 {
  color: #5E5E57;
}

.cor6 {
  color: #171717;
}

.cor7 {
  color: #379EF2;
}

.cor8 {
  color: #FF9F1C;
}

.cor9 {
  color: #8953C6;
}

.cor10 {
  color: #55AF28;
}

.cor11 {
  color: #EF2626;
}

.bg-branco {
  background-color: #FFF;
}

.bg-preto {
  background-color: #000;
}

.bg-amarelo {
  background-color: #FFED00;
}

.bg-cor1 {
  background-color: #1D1D1B;
}

.bg-cor2 {
  background-color: #F9F9F8;
}

.bg-cor3 {
  background-color: #F7F7F4;
}

.bg-cor4 {
  background-color: #A8A8A1;
}

.bg-cor5 {
  background-color: #5E5E57;
}

.bg-cor6 {
  background-color: #171717;
}

.bg-cor7 {
  background-color: #379EF2;
}

.bg-cor8 {
  background-color: #FF9F1C;
}

.bg-cor9 {
  background-color: #8953C6;
}

.bg-cor10 {
  background-color: #55AF28;
}

.bg-cor11 {
  background-color: #EF2626;
}

.bg-dark {
  color: #F9F9F8;
}

.bg-dark a {
  color: #F9F9F8;
}

.bg-light {
  color: #1D1D1B;
}

.bg-light a {
  color: #1D1D1B;
}

.wow {
  visibility: hidden;
}

.button {
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0;
  border: 0;
  margin-top: 2vw;
  width: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button.homePortfolioLink {
  margin: 0;
  width: 100vw;
  background: #FFED00;
  color: #1D1D1B;
}

.button.wide {
  padding-left: 2rem;
  padding-right: 2rem;
}

.bg-dark .button {
  background: #FFED00;
  color: #1D1D1B;
}

.bg-light .button {
  background: #1D1D1B;
  color: #F9F9F8;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #FFF;
  height: 50px;
  border-bottom: 1px solid white;
  z-index: 10;
}

.header ::-moz-selection {
  background: none;
  color: #FFF;
  text-shadow: none;
}

.header ::selection {
  background: none;
  color: #FFF;
  text-shadow: none;
}

.navButton {
  background-color: #1D1D1B;
  color: #FFED00;
  height: 50px;
  width: 50px;
  font-size: 1.2rem;
  margin-left: -0.987rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.menuHeader {
  font-family: "Gtwall", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.menuHeader li {
  border-left: 1px solid white;
}

.menuHeader li a {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
}

.menuHeader li a:hover,
.menuHeader li a:focus,
.menuHeader li a.active {
  background: #F9F9F8;
}

.menuFazemos li a {
  padding: 0;
}

.menuFazemos li a h1 {
  margin: 0;
  font-weight: 700;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  color: #1D1D1B;
}

.menuFazemos li a:hover h1 {
  color: #FFF;
}

.social-media {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
}

.social-media li {
  padding: 2vh;
}

.social-media li a {
  color: #1D1D1B;
}

.social-media-menu {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.social-media-menu li {
  padding: 2vh 4vh 2vh 0;
}

.social-media-menu li a {
  color: #FFED00;
}

.responsiveNav {
  min-height: calc(100vh - 50px);
  width: 100vw;
  height: calc(100% - 50px);
  margin-top: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  overflow-y: auto;
  -webkit-transform: translateY(-100vh);
  transform: translateY(-100vh);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.responsiveNav .innerNav {
  padding: 6vh 4vh;
  color: #F7F7F4;
  height: 100%;
}

.responsiveNav .innerNav.side {
  background: #1D1D1B;
  color: #F9F9F8;
}

.responsiveNav .innerNav.side strong {
  color: #F7F7F4;
}

.responsiveNav .innerNav.side i,
.responsiveNav .innerNav.side svg {
  color: #FFED00;
}

.responsiveNav .innerNav.side h5 {
  margin-bottom: 0;
}

.responsiveNav .innerNav .menu {
  margin-bottom: 2vh;
}

.responsiveNav .innerNav .menu li a {
  font-size: 1.6rem;
  font-weight: 300;
  margin: 0.7vh 0;
  color: #F9F9F8;
}

.responsiveNav .innerNav-menu {
  background: #121212;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100vh;
}

.open .responsiveNav {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.open .responsiveNav .innerNav.side {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.open .responsiveNav .innerNav-menu {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

/* Medium and up */

/* Large and up */

.bannerContainer {
  height: auto;
  background-color: #1D1D1B;
}

.bannerContainer video {
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.bannerPortfolio {
  position: relative;
}

.bannerPortfolioInfo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  padding: 6vh 0;
  z-index: 5;
}

.bannerPortfolioInfo p {
  font-weight: 700;
  text-transform: uppercase;
}

.bannerPortfolio .portfolioCover {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100vw;
}

/* Medium and up */

/* Large and up */

section,
footer {
  overflow: hidden;
  -webkit-transition: 0.3s background-color ease-in-out;
  transition: 0.3s background-color ease-in-out;
  width: 100vw;
}

section.space-section,
footer.space-section {
  padding-top: 7vh;
  padding-bottom: 7vh;
}

.bodyContainer {
  background: #F9F9F8;
  min-height: 50vh;
  margin-top: 50px;
}

.title-big {
  font-weight: 700;
  font-size: 38px;
  line-height: 1;
}

.quemSomos h5 {
  font-weight: 300;
  font-size: 1.5rem;
}

.quemSomosLinkContainer {
  width: 100vw;
  float: left;
  position: relative;
  overflow: hidden;
}

.quemSomosLinkContainer .inner {
  padding: 2vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.quemSomosLinkContainer .inner .project-title {
  font-size: 1.7rem;
}

.quemSomosLinkContainer .link {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.quemSomosLinkContainer:hover .quemSomosLink-foto {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.quemSomosLinkContainer:hover .quemSomosLink-foto::after {
  opacity: 0;
  -webkit-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0);
}

.quemSomosLink-foto {
  width: 100vw;
  height: 100vw;
  position: relative;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center top;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: calc(100% + 50px);
  -webkit-transition: opacity .4s, -webkit-transform .4s;
  transition: opacity .4s, -webkit-transform .4s;
  transition: opacity .4s, transform .4s;
  transition: opacity .4s, transform .4s, -webkit-transform .4s;
  -webkit-transform: translate3d(-30px, 0, 0);
  transform: translate3d(-30px, 0, 0);
}

.quemSomosLink-foto::after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(51, 51, 51, 0.5)), to(rgba(51, 51, 51, 0)));
  background: linear-gradient(to bottom, rgba(51, 51, 51, 0.5) 0, rgba(51, 51, 51, 0) 100%);
  -webkit-transition: opacity .35s,-webkit-transform .35s;
  transition: opacity .35s,-webkit-transform .35s;
  transition: opacity .35s,transform .35s;
  transition: opacity .35s,transform .35s,-webkit-transform .35s;
  opacity: 1;
}

.boxTitulo {
  border-bottom: 1px solid white;
}

.breadcrumbsContainer .breadcrumbs {
  margin: 0;
}

.breadcrumbsContainer .breadcrumbs li {
  color: #1D1D1B;
  font-weight: 700;
}

.breadcrumbsContainer .breadcrumbs li:not(:last-child)::after {
  color: #1D1D1B;
  content: "|";
}

.breadcrumbsContainer .breadcrumbs a,
.breadcrumbsContainer .breadcrumbs .disabled {
  color: #1D1D1B;
  font-weight: 400;
}

.bg-dark .breadcrumbsContainer .breadcrumbs {
  margin: 0;
  color: #F9F9F8;
}

.bg-dark .breadcrumbsContainer .breadcrumbs li {
  color: #F9F9F8;
  font-weight: 700;
}

.bg-dark .breadcrumbsContainer .breadcrumbs li:not(:last-child)::after {
  color: #F9F9F8;
  font-weight: 700;
}

.bg-dark .breadcrumbsContainer .breadcrumbs a,
.bg-dark .breadcrumbsContainer .breadcrumbs .disabled {
  color: #F9F9F8;
  font-weight: 400;
}

.contatoFormBox {
  padding-top: 7vh;
  padding-bottom: 7vh;
}

.contatoTel,
.contatoEmail,
.contatoLocal {
  padding: 3vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contatoTel p,
.contatoEmail p,
.contatoLocal p {
  margin: 0;
  line-height: 1.3rem;
}

.contatoTel:before,
.contatoEmail:before,
.contatoLocal:before {
  display: none;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f3cd";
  width: 60px;
}

.contatoTel a,
.contatoTel strong,
.contatoEmail a,
.contatoEmail strong,
.contatoLocal a,
.contatoLocal strong {
  color: #F9F9F8;
}

.contatoTel svg,
.contatoEmail svg,
.contatoLocal svg {
  font-size: 2.5rem;
  margin-right: 1.2rem;
  color: #FFED00;
}

.contatoEmail:before {
  content: "\f2b6";
  font-weight: 400;
}

.contatoEmail svg {
  font-size: 2rem;
  margin-right: 1rem;
  margin-left: -0.3rem;
  color: #FFED00;
}

.contatoLocal:before {
  content: "\f3c5";
  font-weight: 900;
}

.contatoLocal svg {
  font-size: 2rem;
  margin-right: 1.3rem;
  color: #FFED00;
}

.tagsBox .label {
  background: #FFED00;
  color: #1D1D1B;
  font-weight: 700;
  margin-right: 4px;
  margin-bottom: 2px;
  text-transform: uppercase;
}

.bg-light .label {
  background: #171717;
  color: #F7F7F4;
}

/* Medium and up */

/* Large and up */

.portfolioContainer {
  width: 100vw;
  float: left;
  position: relative;
  overflow: hidden;
}

.portfolioContainer .inner {
  padding: 2vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.portfolioContainer .inner .project-title {
  font-size: 1.7rem;
}

.portfolioContainer .link {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.portfolioContainer:hover .portfolio-foto {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.portfolioContainer:hover .portfolio-foto::after {
  opacity: 0;
  -webkit-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0);
}

.portfolio-foto {
  width: 100vw;
  height: 100vw;
  position: relative;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center top;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: calc(100% + 50px);
  -webkit-transition: opacity .4s, -webkit-transform .4s;
  transition: opacity .4s, -webkit-transform .4s;
  transition: opacity .4s, transform .4s;
  transition: opacity .4s, transform .4s, -webkit-transform .4s;
  -webkit-transform: translate3d(-30px, 0, 0);
  transform: translate3d(-30px, 0, 0);
}

.portfolio-foto::after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(51, 51, 51, 0.5)), to(rgba(51, 51, 51, 0)));
  background: linear-gradient(to bottom, rgba(51, 51, 51, 0.5) 0, rgba(51, 51, 51, 0) 100%);
  -webkit-transition: opacity .35s,-webkit-transform .35s;
  transition: opacity .35s,-webkit-transform .35s;
  transition: opacity .35s,transform .35s;
  transition: opacity .35s,transform .35s,-webkit-transform .35s;
  opacity: 1;
}

.caseDescricao h2 {
  font-size: 1.8rem;
}

.caseDescricao h3 {
  font-size: 1.4rem;
}

.caseObjetivo .title-big {
  font-size: 1.4rem;
}

/* Medium and up */

/* Large and up */

#blogHome .noticia {
  width: 100%;
}

#blogHome .noticiaBox h4 a {
  color: #FFED00;
}

.blogList .noticia {
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #eaeae9;
}

.blogList .noticiaBox-header {
  font-weight: 300;
  padding: 0 0 2vh;
}

.blogList .noticiaBox-header .entry-category {
  margin-bottom: 0.5rem;
}

.blogList .noticiaBox-body {
  padding: 2vh 0;
}

.blogList .noticia-single {
  border-bottom: none;
  margin-bottom: 0;
}

.blogList .widget-area {
  padding-left: 0;
}

.blogList .widget-sidebar {
  margin-bottom: 3rem;
}

.blogList .widget-sidebar .search-form .busca-campo-top {
  margin-bottom: 0;
  padding: 22px;
}

.blogList .widget-sidebar .search-form .submit-button {
  background-color: #171717;
}

.blogList .widget-sidebar ul {
  list-style-type: square;
}

.blogList .widget-sidebar ul li {
  border-bottom: 1px solid #f2f2f0;
  padding: 0.5rem 0;
}

.blogList .share-buttons-box p {
  margin: 0;
}

.blogList .share-buttons-box .facebook {
  background: #3b5998;
  color: #FFF;
}

.blogList .share-buttons-box .twitter {
  background: #1da1f2;
  color: #FFF;
}

.blogList .share-buttons-box .linkedin {
  background: #0077b5;
  color: #FFF;
}

.blogList .share-buttons-box .google-plus {
  background: #dc4e41;
  color: #FFF;
}

/* Medium and up */

/* Large and up */

.boxPaginacao .postPagina {
  float: left;
  width: 50%;
}

.boxPaginacao .postPagina small {
  font-weight: 400;
}

.boxPaginacao .postPrev {
  float: left;
  text-align: left;
}

.boxPaginacao .postNext {
  float: right;
  text-align: right;
}

.pagination-area {
  padding-top: 1vh;
  padding-bottom: 2vh;
}

.pagination-area .pagination li a {
  color: #1D1D1B;
  font-weight: bold;
  font-weight: 400;
}

.pagination-area .pagination li a:hover {
  background: #171717;
  color: #F9F9F8;
}

.pagination-area .pagination li.current {
  background: #171717;
  color: #F9F9F8;
}

.pagination-area .pagination .disabled {
  color: #5E5E57;
}

/* Medium and up */

footer.footer {
  background: #171717;
  color: #F9F9F8;
}

footer.footer a {
  color: #F9F9F8;
}

.mapa {
  width: 100vw;
  height: 300px;
}

.mapa iframe {
  width: 100%;
  height: 300px;
}

.copy {
  background: #000;
  padding: 0.9rem 0;
}

.copy p {
  margin: 0;
}

ul.menu-parceiros {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

ul.menu-parceiros li {
  margin-left: 1.4rem;
}

ul.menu-parceiros li.sinapro-pr a {
  width: 67px;
  height: 30px;
  display: block;
  background: url(../img/logo-sinapro.png) no-repeat 0 top;
  text-indent: -9999px;
  cursor: pointer;
  background-size: cover;
}

ul.menu-parceiros li.cenp a {
  width: 80px;
  height: 30px;
  display: block;
  background: url(../img/logo-cenp.png) no-repeat 0 top;
  text-indent: -9999px;
  cursor: pointer;
  background-size: cover;
}

@media screen and (min-width: 40em) {
  .fixed {
    position: fixed;
  }

  .responsiveNav {
    overflow-y: hidden;
    visibility: hidden;
  }

  .responsiveNav .innerNav {
    padding: 6vh 4vh;
  }

  .responsiveNav .innerNav-menu {
    background: #121212;
    overflow-y: scroll;
    height: 100vh;
  }

  .responsiveNav .innerNav-menu::-webkit-scrollbar {
    width: 9px;
  }

  .responsiveNav .innerNav-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: transparent;
  }

  .responsiveNav .innerNav-menu::-webkit-scrollbar-thumb {
    background-color: #1D1D1B;
    outline: 1px solid slategrey;
  }

  .responsiveNav .innerNav.side .contatoLocal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    text-align: left;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .responsiveNav .innerNav.side .contatoLocal:before {
    content: "\f3c5";
    font-weight: 900;
  }

  .responsiveNav .innerNav.side .contatoLocal svg {
    font-size: 2.2rem;
    margin-right: 1.3rem;
    margin-bottom: 0;
    color: #FFED00;
  }

  .bannerContainer {
    height: calc(100% - 50px);
  }

  .bannerContainer video {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .title-big {
    font-weight: 700;
    font-size: 44px;
    line-height: 1;
  }

  .quemSomosLinkContainer {
    width: 33.33vw;
  }

  .quemSomosLink-foto {
    height: 33.33vw;
  }

  .portfolioContainer {
    width: 50vw;
    float: left;
    position: relative;
    overflow: hidden;
  }

  .portfolioContainer .inner {
    padding: 2vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .portfolioContainer .inner .project-title {
    font-size: 1.7rem;
  }

  .portfolioContainer .link {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .portfolioContainer:hover .portfolio-foto {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .portfolioContainer:hover .portfolio-foto::after {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  }

  .portfolio-foto {
    width: 100vw;
    height: 50vw;
    position: relative;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: center top;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: calc(100% + 50px);
    -webkit-transition: opacity .4s, -webkit-transform .4s;
    transition: opacity .4s, -webkit-transform .4s;
    transition: opacity .4s, transform .4s;
    transition: opacity .4s, transform .4s, -webkit-transform .4s;
    -webkit-transform: translate3d(-30px, 0, 0);
    transform: translate3d(-30px, 0, 0);
  }

  .portfolio-foto::after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(51, 51, 51, 0.5)), to(rgba(51, 51, 51, 0)));
    background: linear-gradient(to bottom, rgba(51, 51, 51, 0.5) 0, rgba(51, 51, 51, 0) 100%);
    -webkit-transition: opacity .35s,-webkit-transform .35s;
    transition: opacity .35s,-webkit-transform .35s;
    transition: opacity .35s,transform .35s;
    transition: opacity .35s,transform .35s,-webkit-transform .35s;
    opacity: 1;
  }

  .blogList .widget-area {
    padding-left: 1rem;
  }

  .pagination-area {
    padding-top: 7vh;
    padding-bottom: 0;
  }

  .pagination-area .pagination li a {
    color: #1D1D1B;
    font-weight: bold;
    font-weight: 400;
  }

  .pagination-area .pagination li a:hover {
    background: #171717;
    color: #F9F9F8;
  }

  .pagination-area .pagination li.current {
    background: #171717;
    color: #F9F9F8;
  }

  .pagination-area .pagination .disabled {
    color: #5E5E57;
  }
}

@media screen and (min-width: 64em) {
  .responsiveNav {
    -webkit-transform: translateY(0vh);
    transform: translateY(0vh);
    visibility: hidden;
  }

  .responsiveNav .innerNav {
    padding: 6vh;
  }

  .responsiveNav .innerNav.side {
    width: 33.3333%;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .responsiveNav .innerNav-menu {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border-right: 3px solid #000;
    padding-bottom: 8rem;
  }

  .open .responsiveNav {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .open .responsiveNav .innerNav.side {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  .open .responsiveNav .innerNav-menu {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  .bannerContainer {
    height: calc(100vh - 50px);
    background-color: #1D1D1B;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bannerContainer video {
    height: auto;
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  section.space-section,
  footer.space-section {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .title-big {
    font-weight: 700;
    font-size: 54px;
    line-height: 1;
  }

  .contatoLocal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .contatoLocal svg {
    font-size: 2.4rem;
    margin-right: 0;
    margin-bottom: 1.2rem;
    color: #FFED00;
  }

  .quemSomosLinkContainer {
    width: 33.33vw;
  }

  .quemSomosLinkContainer:nth-child(1) {
    width: 50vw;
    height: 50vw;
  }

  .quemSomosLinkContainer:nth-child(1) .quemSomosLink-foto {
    height: 50vw;
    width: calc(100% + 50px);
  }

  .quemSomosLinkContainer:nth-child(2),
  .quemSomosLinkContainer:nth-child(3) {
    width: 25vw;
  }

  .quemSomosLinkContainer:nth-child(2) .quemSomosLink-foto,
  .quemSomosLinkContainer:nth-child(3) .quemSomosLink-foto {
    height: 25vw;
    width: calc(100% + 50px);
  }

  .quemSomosLinkContainer:nth-child(4) {
    width: 50vw;
    height: 25vw;
  }

  .quemSomosLinkContainer:nth-child(4) .quemSomosLink-foto {
    height: 25vw;
    width: calc(100% + 50px);
  }

  .portfolioContainer {
    width: 25vw;
    float: left;
    position: relative;
    overflow: hidden;
  }

  .portfolioContainer .inner {
    padding: 2vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .portfolioContainer .inner .project-title {
    font-size: 1.7rem;
  }

  .portfolioContainer .link {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .portfolioContainer:hover .portfolio-foto {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .portfolioContainer:hover .portfolio-foto::after {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  }

  .portfolioContainer:nth-child(5n+1) {
    width: 50vw;
  }

  .portfolio-foto {
    width: 100vw;
    height: 25vw;
    position: relative;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: center top;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: calc(100% + 50px);
    -webkit-transition: opacity .4s, -webkit-transform .4s;
    transition: opacity .4s, -webkit-transform .4s;
    transition: opacity .4s, transform .4s;
    transition: opacity .4s, transform .4s, -webkit-transform .4s;
    -webkit-transform: translate3d(-30px, 0, 0);
    transform: translate3d(-30px, 0, 0);
  }

  .portfolio-foto::after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(51, 51, 51, 0.5)), to(rgba(51, 51, 51, 0)));
    background: linear-gradient(to bottom, rgba(51, 51, 51, 0.5) 0, rgba(51, 51, 51, 0) 100%);
    -webkit-transition: opacity .35s,-webkit-transform .35s;
    transition: opacity .35s,-webkit-transform .35s;
    transition: opacity .35s,transform .35s;
    transition: opacity .35s,transform .35s,-webkit-transform .35s;
    opacity: 1;
  }

  .blogList .widget-area {
    padding-left: 2rem;
  }
}

@media screen and (max-width: 39.9375em) {
  .responsiveNav .innerNav h2 {
    font-size: 3rem;
  }
}
/*# sourceMappingURL=app.css.map */
